.header {
  position: relative;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;

  &-crossline {
    border-bottom: 1.5px solid var(--main-color-opc4); 
  }

  &__logo {
    transition: transform 250ms ease-out;
    
    &:hover {
      transform: scale(1.1);
    }
  }
  
  
  &__list {
    font-size: 1.5rem;
    display: flex;
    gap: 1.5rem;
    list-style: none;

    &-item {
      position: relative; 
    }
    
    &-link {
      text-decoration: none;
      color: var(--main-color);
      transition: color 150ms ease-out;
      padding: .4rem;
      cursor: pointer;
      
      &::after {
        content: "";
        position: absolute;
        border-radius: .1rem;
        left: 0;
        right: 0;
        top: 93%;
        bottom: 0;
        
        background: var(--main-color);
        transition: transform .4s ease;
        transform: scaleX(0);
        transform-origin: top right;
      }
      
      &:hover::after {
        transform: scaleX(1);
        transform-origin: top left;
      }

    }
  }

}