.cart-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  
  position: absolute;
  width: 18rem;
  min-height: 18rem;
  padding: 1rem;
  border: 2px solid var(--main-color);
  background: white;
  right: 7.5rem;
  top: 4rem;
  
  z-index: 5;
  
  &__menu {

    overflow-y: scroll;
    height: 16em;

    &::-webkit-scrollbar {
      width: .5em;
      right: 1rem;
    }
    
    &::-webkit-scrollbar-thumb {
      position: absolute;
      background-color: var(--main-color-opc4);
      border-radius: 1rem;
    }
  }
}

.menu__empty-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.item {
  width: 100%;
  height: 5rem;
  flex-shrink: 0;
}