.cart-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  
  position: absolute;
  width: 17rem;
  min-height: 18rem;
  padding: 1rem;
  border: 2px solid var(--main-color);
  background: white;
  right: 7.5rem;
  top: 4rem;
  
  z-index: 5;
  
  &__items {
    overflow-y: scroll;
    height: 14em;
    
  }

  &.hide {
    display: none;
  }
}

.item {
  background: rebeccapurple;
  height: 5rem;

  &:nth-child(odd) {
    background: olivedrab;
  }
}