.card {
  background: lightseagreen;
  padding: 7rem;

  &__inner-container {
    background: hsl(0 0 100% / .8);
    padding: 1.5rem;

    text-align: center;
    text-transform: uppercase;
  }

  &__title {
    margin-block: 0 1.5rem;
    line-height: 1;
  }
}