.directories {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-block: 5rem;
  gap: 1rem;
}

.hats {
  grid-column: 1 / 3;
}

.jackets {
  grid-column: 3 / 5;
}

.sneakers {
  grid-column: 5 / 7;
}

.womens {
  grid-column: 1 / 4;
}

.mens {
  grid-column: 4 / 7;
}