.checkout-card {
  display: flex;
  justify-content: space-between;
  margin-inline: 1rem;
  align-items: center;

  font-family: "Open Sans", sans-serif;
  
  &__img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
  }

  &__product-name {
    font-weight: 600;
  }

  &__quantity {
    display: flex;
    align-items: center;
    gap: .5rem;
    user-select: none;
  }

  &__delete {
    transition: color 150ms ease;

    &:hover {
      cursor: pointer;
      color: crimson;
    }
  }

  @media (max-width: 40em) {
    flex-direction: column;
    gap: 1rem;
  }
}

.arrow {
  font-size: 1.5rem;
  font-weight: 700;
  transition: color 150ms ease;
  padding: .3rem;

  &:hover {
    cursor: pointer;
    color: royalblue;
  }

  &.is-disabled {
    color: gray;
    pointer-events: none;
  }
}
